html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title |Тестовое задание site-master.su
		link(rel="stylesheet" href="styles/main.css")
	body
		p Проверка
		h2 ghhjj