.row
	.container
		.col-lg-6.col-md-6.feedback-content
			img.img-responsive(src="images/face.png")
			.feedback-content-text
				|Очень хороший топор. Брал в подарок для тещи. Пришел действительно в деревянном футляре, но без бархата =)