.row
	.container
		.col-lg-6.feedback-content
			.feedback-content-image
				img(src="images/face.png")
			.feedback-content-text
				|Очень хороший топор. Брал в подарок для тещи. Пришел действительно в деревянном футляре, но без бархата =)
				.square1
				.square2