.model-title
	hr
	h3.h3 Лучшая модель
	hr
.model-item
	.row
		.container
			.col-lg-6.col-md-6.model-item-img
				div
					img(src="images/catalog/L.jpg")
			.col-lg-6.col-md-6.model-item-info
				h4.h4 ТОПОР ОБЫКНОВЕННЫЙ
				p Коллекция: лето/зима
				p Материал: корозионностойкая дамасская сталь
				hr
				p Обыкновенный топор, обладающий, как хозяйственными качествами, так и оружейными.Может активно применяться в различных жизненных ситуациях.
				p Упакован в деревянный футляр, обитый внутри бархатом.
				.model-item-button
					button#m M
					button.active-btn#l L
					button#xl XL
					button#xxl XXL
					button#buy КУПИТЬ
